{% extends 'base.html.twig' %}

{% block title %}Workout{% endblock %}

{% block body %}
    <h1>Workout</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ workout.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ workout.date ? workout.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ workout.notes }}</td>
            </tr>
            <tr>
                <th>Type_of_workout</th>
                <td>{{ workout.typeOfWorkout }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_workout_index') }}">back to list</a>

    <a href="{{ path('app_workout_edit', {'id': workout.id}) }}">edit</a>

    {{ include('workout/_delete_form.html.twig') }}
{% endblock %}
